<html ng-app="app">
	<head>
		<title>{{navTitle}}</title>
		<link href="static/css/styles.css" rel="stylesheet"></link>
		<!-- Use Bootstrap -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="static/css/signin.css" rel="stylesheet"></link>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.xml2json/1.2/jquery.xml2json.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
		<script type="text/javascript" src="static/js/app.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body ng-controller="mainController as main">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Lake Shore Mart</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="#" ng-click="showAllProducts(); showSearch = true">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" ng-hide="showRegister || loggedIn">
						<li><a href="#" ng-click="resetRegisterForm(); login = !login; showRegister = !showRegister"><span class="glyphicon glyphicon-user"></span> Register </a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" ng-show="showRegister">
						<li><a href="#" ng-click="showRegister = !showRegister; login = !login"><span class="glyphicon glyphicon-user"></span> Login </a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" ng-show=loggedIn>
						<li><a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span> {{customer.custFirstname}} {{customer.custLastName}}<b class="caret"></b> </a>
    						<ul class="dropdown-menu">
    							<li><a ng-show="updateCustomerLink != null" href="#" ng-click="updateCustomer()">Update Your Info</a></li>
      							<li><a ng-show="viewAddressLink != null" href="#" ng-click="viewAddress()">Address</a></li>
      							<li><a ng-show="viewBillingLink != null" href="#" ng-click="checkingOut = false;viewBilling()">Billing Details</a></li>
      							<li><a ng-show="viewVendorProducts != null" href="#" ng-click="showAllProducts()">View Products</a></li>
      							<li class="divider"></li>
      							<li><a ng-show="viewOrdersLink != null" href="#" ng-click="viewOrders()">Orders</a></li>
      							<li><a ng-show="viewVendorOrders != null" href="#" ng-click="viewOrders()">Orders to Assess</a></li>
      							<li><a ng-show="viewCartLink" href="#" ng-click="viewCart()">Cart</a></li>
      							<li class="divider"></li>
      							<li><a href="#" ng-click="logout()">Logout</a></li>
    						</ul>
    					</li>
					</ul>
				</div>
			</div>
		</nav>

	  	<div class="container" ng-hide="showRegister">
			<div class="header">
				<h1 class="custom">Welcome to Lake Shore Mart</h1>
			</div>

			<div class="container" ng-show="loggedOut"><p class="text-center text-primary">You have been logged out. Thanks for visiting.</p></div>
			<div class="container" ng-show="login">
		      <form name="loginForm" class="form-signin" action="">
		        <h2 class="form-signin-heading">Please Sign In Here</h2>
		        <label for="inputEmail" class="sr-only">Email address</label>
		        <input type="email" name="inputEmail" id="inputEmail" ng-model="customer.email" class="form-control" placeholder="Email address" required autofocus />
		        <span style="color:red" ng-show="loginForm.inputEmail.$dirty && loginForm.inputEmail.$invalid">
		        <span ng-show="loginForm.inputEmail.$error.required">Email is required.</span>
  				<span ng-show="loginForm.inputEmail.$error.email">Invalid email address.</span></span>
		        <label for="inputPassword" class="sr-only">Password</label>
		        <input type="password" name="inputPassword" id="inputPassword" ng-model="customer.password" class="form-control" placeholder="Password" required />
				<span style="color:red" ng-show="loginForm.inputPassword.$dirty && loginForm.inputPassword.$invalid">
				<span ng-show="loginForm.inputPassword.$error.required">Password is required.</span></span>
		        <div class="checkbox">
		          <label>
		            <input type="checkbox" value="remember-me"> Remember me
		          </label>
		        </div>
		        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginUser(customer)" ng-disabled="(loginForm.inputEmail.$dirty && loginForm.inputEmail.$invalid) || loginForm.inputPassword.$error.required">Sign in</button>
		      </form>
		      
    		</div>
			
			<div class="container" ng-show="showSearch">
				<p></p>
			    <form ng-show=productSearchLink>
			    	<table>
						<tr>
							<td><label for="search">Enter Search String here: </label>
							<td><input type="text" ng-model="searchName" size="30"  placeholder="What do you have in mind?" ></td>
							<td><button type="button" ng-click="searchProduct(searchName)" class="btn btn-primary btn-sm">
	      					<span class="glyphicon glyphicon-search"></span> Search </button></td>
							<!-- <span class="glyphicon glyphicon-refresh"></span> Reset Search </button></td> -->
						</tr>
					</table>
			    </form>	
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="product in products" ng-show="showProducts">
						<div>
							<h4>{{product.productName}}</h4>
							<em class="pull-right">{{product.price | currency}}</em>
							<p>Quantity: {{product.quantity}}</p>
							<p>Vendor: {{product.vendorName}}</p>
							<a href="#" ng-show="addCartLink && product.quantity != 0" class="btn btn-lg btn-default" ng-click="addToCart(product.links, product.productId)">Add to Cart</a>&nbsp; &nbsp;
							<a href="#" ng-show="deleteProductLink" class="btn btn-lg btn-default" ng-click="deleteProductInfo(product)">Delete Product</a>&nbsp; &nbsp;
							<a href="#" ng-show="updateProductLink" class="btn btn-lg btn-default" ng-click="showUpdateProduct = true">Update Product</a>&nbsp; &nbsp;
							<a href="#" ng-show="showReviewsLink" class="btn btn-lg btn-default" ng-click="showReview=true; showReviews(product)">View Reviews</a>
							<form name="productForm" action="" ng-show="updateProductLink && showUpdateProduct">
								Quantity To Add: <input type=text name=quantity value=0></input>
								New Price: <input type=text name=price ng-model="product.price" value=product.price></input>
								<button type="button" ng-click="updateProductInfo(product); showUpdateProduct=false" class="btn btn-primary btn-sm">Update </button>
								<button type="button" ng-click="showUpdateProduct=false" class="btn btn-primary btn-sm">Cancel </button>
						    </form>
							
							<!-- Division for showing/adding Reviews -->			
 							<div class="container" ng-show="showReview == true">
								<form ng-show="selectedProductId == product.productId && addReviewLink">
							    	<table style="width:80%">
										<tr>
											<td><label for="reviewDesc">Post a review here</label></td>
											<td><textarea name=reviewDesc class = "form-control" rows = "3" ng-model="reviewDesc"></textarea></td>
											<td><button type="button" ng-click="postReview(product, reviewDesc); reviewDesc=''" class="btn btn-primary btn-sm">
					      					<span class="glyphicon glyphicon-comment"></span> Submit </button></td>
										</tr>
									</table>
							    </form>
							    <ul class="list-group">
							    	<li class="list-group-item" ng-show="reviews[0].customerName == null && selectedProductId == product.productId">
							    		<h4>No Reviews to Show</h4>
							    	</li>
									<li class="list-group-item" ng-show="reviews[0].customerName != null && selectedProductId == product.productId" ng-repeat="review in reviews | orderBy:'-reviewId'">
										<div>
											<h5>{{review.customerName}} commented: </h5>
											<p>{{review.reviewDesc}}</p>
										</div>
									</li>
								</ul>
 							</div>
						</div>
					</li>
				</ul>
				<a href="#" ng-show="addProductLink" class="btn btn-lg btn-default" ng-click="addProduct = true">Add Product</a>
			</div>
			

				<!-- Division for showing cart status message -->
				
				<div class="container" ng-show="cartSuccess">
					<h2>{{info.message}}</h2>
					<p><a href="#" class="btn btn-lg btn-default" ng-click="viewCart()">View Cart</a></p>
				</div>
				
				<div class="container" ng-show="selectPaymentSuccess">
					<h2>{{paymentInfo.message}}</h2>
					<!-- <p><a href="#" class="btn btn-lg btn-default" ng-click="viewCart()">View Cart</a> -->
					<p><a href="#" class="btn btn-lg btn-default" ng-click="checkOut()">Change Payment</a>
					<a href="#" class="btn btn-lg btn-primary" ng-click="placeOrder(paymentInfo.links)">Place Order</a></p>
				</div>
				
				<!-- Division for showing cart contents -->
				<div class=container  ng-show="showCart">
					<p class="text-left"><strong>Your Cart</strong></p>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="item in items">
							<h3>{{item.productName}}</h3>
							<p>Quantity: {{item.quantity}}</p>
							<p>Price: {{item.price | currency}}</p>
						</li>
					</ul>
					<a href="#" class="btn btn-lg btn-primary" ng-click="checkOut()">Check Out</a>
					<a href="#" class="btn btn-lg btn-default" ng-click="showAllProducts()">Continue Shopping</a>
				</div>
				
				<!-- Division for showing order Status Message -->

				<div class=container ng-show="orderSuccess">
					<h2>{{order.message}}</h2>
					<a href="#" class="btn btn-lg btn-default" ng-click="viewOrders()">View Orders</a>
					<a href="#" class="btn btn-lg btn-default" ng-click="cancelOrder(order.links)">Cancel Order</a>
					<a href="#" class="btn btn-lg btn-default" ng-click="checkOrderStatus(order.links)">Check Order Status</a>
				</div>
				
				<!-- Division for showing orders -->

				<div class=container ng-show="showOrders">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="anOrder in orders | orderBy:'-orderDate'">
						<h4>Order Number: {{anOrder.orderId}}</h4>
						<em>Ordered on: {{anOrder.orderDate | date:'yyyy-MM-dd HH:mm:ss'}}</em>
						<p>Order Amount: {{anOrder.orderAmount | currency}}</p>
						<p>Order Status:{{anOrder.orderStatus}}
							<em class="pull-right" ng-show="anOrder.orderStatus == 'CAN'">Order Cancelled</em>
							<em class="pull-right" ng-show="anOrder.orderStatus == 'SHP'">Order Shipped</em>
							<em class="pull-right" ng-show="anOrder.orderStatus == 'ACT'">Order Processing</em>
						</p>
 						<ul class="list-group">
							<li class="list-group-item" ng-repeat="lineItem in anOrder.lineItems">
								<p>{{lineItem.productName}} </p>
								<p>{{lineItem.orderLinePrice | currency}}</p>
								<p>{{lineItem.orderLineQuantity}}</p>
 							</li>
						</ul>
						<a href="#" ng-show="checkStatusLink" class="btn btn-lg btn-primary" ng-click="checkOrderStatus(anOrder.links)">Check Order Status</a>
						<a href="#" ng-show="cancelOrderLink && anOrder.orderStatus != 'CAN'" class="btn btn-lg btn-default" ng-click="cancelOrder(anOrder.links)">Cancel Order</a>
						<a href="#" ng-show="shipOrderLink && anOrder.orderStatus != 'SHP' && anOrder.orderStatus != 'CAN'" class="btn btn-lg btn-default" ng-click="shipOrder(anOrder.links)">Ship Order</a>
					</li>
				</ul>
				</div>	

				<div class=container ng-show=shipSuccess>
					<p class="text-left"><strong>Great!! The Order has been shipped</strong></p>
					<a ng-show="viewVendorOrders != null" href="#" ng-click="viewOrders()">View Other Orders</a>
				</div>	
				
				<div class=container ng-show=showOrderStatus>
					<p class="text-left"><strong>Order Status For OrderId#: {{orderData.orderId}}</strong></p>
					<p>Order Status:
					<em ng-show="orderData.orderStatus == 'CAN'">Order Cancelled</em>
					<em ng-show="orderData.orderStatus == 'SHP'">Order Shipped</em>
					<em ng-show="orderData.orderStatus == 'ACT'">Order Processing</em></p>
					<p>Order <em ng-show="orderData.orderStatus == 'ACT'">Expected</em> Delivery Date: {{orderData.orderDeliveryDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>
					<a href="#" class="btn btn-lg btn-primary" ng-click="viewOrders()">View All Orders</a>
					<a href="#" ng-show="orderData.orderStatus != 'CAN'" class="btn btn-lg btn-default" ng-click="cancelOrder(orderData.links)">Cancel Order</a>
				</div>	
				
				<div class=container ng-show=cancelSuccess>
					<h2>{{orderInfo.message}}</h2>
					<a href="#" class="btn btn-lg btn-default" ng-click="viewOrders()">View Orders</a>
					<a href="#" class="btn btn-lg btn-primary" ng-click="showAllProducts()">Continue Shopping</a>
				</div>		
				
				<div class=container ng-show="addressSuccess">
					<h3><em>{{addrResponse.message}}</em></h3>
					<a href="#" ng-click="viewAddress()">View Address Details</a>
				</div>
				
				<div class=container ng-show="showAddress">
					<p class="text-left"><strong>{{customer.custFirstname}} {{customer.custLastName}}'s Address Details</strong></p>
				 	<ul class="list-group">
						<li class="list-group-item" ng-show="addresses[0].addrId != null" ng-repeat="address in addresses | orderBy:'-addrId'">
							<p>{{address.custAddrLine1}} </p>
							<p ng-show="address.custAddrLine2 != ''">{{address.custAddrLine2}}</p>
							<p>{{address.custCity}}</p>
							<p>{{address.custState}}</p>
							<p>{{address.custZipCode}}</p>
							<a href="#" ng-click="updateAddressModel(address)">Update Address</a> |
							<a href="#" ng-click="deleteCustomerAddress(address.links)">Delete Address</a>
						</li>
					</ul>
					<a href="#" ng-click="resetAddressForm(); addAddress =! addAddress; showAddress =! showAddress">Add new Address</a>
				</div>

				<div class=container ng-show="addAddress">
					<form name="addressForm" action="" >
		        		Address Line 1: <input type="text" name="addrLine1" ng-model="custAddr.addrLine1" class="form-control" required autofocus />		        		
		        		<span style="color:red" ng-show="addressForm.addrLine1.$dirty && addressForm.addrLine1.$invalid">
		        		<span ng-show="addressForm.addrLine1.$error.required">Address Line 1 is required.</span></span>
		        		Address Line 2: <input type="text" name="addrLine2" ng-model="custAddr.addrLine2" class="form-control"  />
		        		City: <input type="text" name="city" ng-model="custAddr.city" class="form-control"  />
						<span style="color:red" ng-show="addressForm.city.$dirty && addressForm.city.$invalid">
		        		<span ng-show="addressForm.city.$error.required">City is required.</span></span>
		        		State: <input type="text" name="state" ng-model="custAddr.state" class="form-control"  />
		        		<span style="color:red" ng-show="addressForm.state.$dirty && addressForm.state.$invalid">
		        		<span ng-show="addressForm.state.$error.required">State is required.</span></span>
		        		Zip: <input type="text" name="zipCode" ng-model="custAddr.zipCode" class="form-control"  />	      
						<span style="color:red" ng-show="addressForm.zipCode.$dirty && addressForm.zipCode.$invalid">
		        		<span ng-show="addressForm.zip.$error.required">ZipCode is required.</span></span>  		
				        <div class="checkbox">
				          <label>
				            <input type="checkbox" value="defaultAddress" ng-model="custAddr.default"> Default Address
				          </label>
				        </div>
		        		<button class="btn btn-lg btn-primary" type="submit" ng-hide="updateAddress" ng-click="addCustomerAddress(custAddr)" ng-disabled="addressForm.addrLine1.$required">Add</button>
		        		<button class="btn btn-lg btn-primary" type="submit" ng-show="updateAddress" ng-click="updateCustomerAddress(custAddr)">Update</button>
						<button class="btn btn-lg btn-default" type="submit" ng-click="resetAddressForm()">Cancel</button>
		      		</form>
      				<!-- <a href="#" class="btn btn-lg btn-default" ng-click="resetAddressForm()">Cancel</a> -->
				</div>

				<div class=container ng-show="billSuccess">
					<h3><em>{{billResponse.message}}</em></h3>
					<a href="#" ng-click="viewBilling()">View Billing Details</a>
				</div>

				<div class=container ng-show="showBilling">
					<p class="text-left"><strong>{{customer.custFirstname}} {{customer.custLastName}}'s Billing Details</strong></p>
				 	<ul class="list-group">
						<li class="list-group-item" ng-show="billingInfo[0].custBillId != null" ng-repeat="billing in billingInfo">
							<p><strong>Billing Address </strong></p>
							<p>{{billing.billAddrLine1}} </p>
							<p ng-show="billing.custAddrLine2 != ''">{{billing.billAddrLine2}}</p>
							<p>{{billing.billCity}}</p>
							<p>{{billing.billState}}</p>
							<p>{{billing.billZipCode}}</p>
							<p><strong>Card Details </strong></p>
							<p>{{billing.cardNo}}</p>
							<p>{{billing.cardType}}</p>
							<a href="#" class="btn btn-lg btn-default" ng-hide="checkingOut" ng-click="deleteCustomerBilling(billing.links)">Delete Billing Details</a>
							<a href="#" class="btn btn-lg btn-default" ng-show="checkingOut" ng-click="selectPayment(billing.links)">Select Payment</a>
						</li>
					</ul>
					<a href="#" class="btn btn-lg btn-default" ng-hide="checkingOut" ng-click="resetBillingForm(); addBilling = !addBilling; showBilling = !showBilling">Add new Billing Info</a>
				</div>

				<div class=container ng-show="addBilling">
					<form name="billingForm" action="" >
		        		Address Line 1: <input type="text" name="billAddrLine1" ng-model="bill.billAddrLine1" class="form-control" required autofocus />
		        		<span ng-show="billingForm.billAddrLine1.$dirty && billingForm.billAddrLine1.$error.required">Please enter address line 1</span>		        		
		        		Address Line 2: <input type="text" name="billAddrLine2" ng-model="bill.billAddrLine2" class="form-control"  />
		        		City: <input type="text" name="billCity" ng-model="bill.billCity" class="form-control" required />
		        		<span ng-show="billingForm.billCity.$dirty && billingForm.billCity.$error.required">City is required</span>
		        		State: <input type="text" name="billState" ng-model="bill.billState" class="form-control" required ng-maxlength=2 ng-minlength=2 />
		        		<span ng-show="billingForm.billState.$dirty && billingForm.billState.$error.required">State is required</span>
		        		<span ng-show="billingForm.billState.$dirty && (billingForm.billState.$error.minlength || billingForm.billState.$error.maxlength)">Card Number should be of 16 digits</span>
		        		Zip: <input type="text" name="billZipCode" ng-model="bill.billZipCode" class="form-control" required />
		        		<span ng-show="billingForm.billZipCode.$dirty && billingForm.billZipCode.$error.required">Zip is required</span>
		        		Card No: <input type="text" name="cardNo" ng-model="bill.cardNo" class="form-control" ng-maxlength=16 ng-minlength=16 required />
		        		<span ng-show="billingForm.cardNo.$dirty && billingForm.cardNo.$error.required">Card Number is required</span>
		        		<span ng-show="billingForm.cardNo.$dirty && (billingForm.cardNo.$error.minlength || billingForm.cardNo.$error.maxlength)">Card Number should be of 16 digits</span>
		        		Card Type:
		        		<select name="cardType" ng-model="bill.cardType" class="form-control" required>
		        			<option value="VISA">VISA</option>
		        			<option value="MasterCard">MasterCard</option>
		        			<option value="AMEX">American Express</option>
		        		</select>
		        		<span ng-show="billingForm.cardType.$dirty && billingForm.cardType.$error.required">Card Type is required</span>
		        		CVV: <input type="password" name="cvv" ng-model="bill.cvv" class="form-control" required />
		        		<span ng-show="billingForm.cvv.$dirty && billingForm.cvv.$error.required">CVV is required</span>
		        		Card Name: <input type="text" name="cardName" ng-model="bill.cardName" class="form-control" required />
		        		<span ng-show="billingForm.cardName.$dirty && billingForm.cardName.$error.required">Card Name is required</span>
		        		Card Expiry Date: <input type="date" name="cardExpiry" ng-model="bill.cardExpiry" class="form-control" required />
		        		<span ng-show="billingForm.cardExpiry.$dirty && billingForm.cardExpiry.$error.required">Card Expiry is required</span>
		        		<button class="btn btn-lg btn-primary btn-block" ng-disabled="billingForm.$invalid || (billingForm.$error.minlength || billingForm.$error.maxlength || billingForm.$error.required)" type="submit" ng-click="addCustomerBilling(bill)">Add</button>
		        		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="resetBillingForm()">Cancel</button>
		      		</form>
				</div>
				
				<div class=container ng-show="addProductLink && addProduct">
					<form name="productForm" action="" >
		        		Product Name: <input type="text" name="productName" ng-model="newProduct.productName" class="form-control" required autofocus />
		        		<span ng-show="productForm.productName.$dirty && roductForm.productName.$error.required">Please enter product NAme</span>		        		
		        		Product Type: <select name="productType" ng-model="newProduct.productType" class="form-control" required>
		        			<option value="Bath&Body">Bath&Body</option>
		        			<option value="Food">Food</option>
		        			<option value="Home">Home</option>
		        		</select>
		        		<span ng-show="newProduct.productType.$dirty && newProduct.productType.$error.required">Product Type is required</span>
		        		Product Description: <input type="text" name="productDesc" ng-model="newProduct.productDesc" class="form-control" required />
		        		<span ng-show="newProduct.productDesc.$dirty && newProduct.productDesc.$error.required">Product Description is required</span>
		        		Quantity: <input type="number" name="quantity" ng-model="newProduct.quantity" class="form-control" required min=5 />
		        		<span ng-show="newProduct.quantity.$dirty && newProduct.quantity.$error.required">Quantity is required</span>
		        		<span ng-show="newProduct.quantity.$dirty && (newProduct.quantity.$error.min)">Minimum quantity should be 5</span>
		        		Price: <input type="number" name="price" ng-model="newProduct.price" class="form-control" required min=1/>
		        		<span ng-show="newProduct.price.$dirty && newProduct.price.$error.required">Price is required</span>
		        		<button class="btn btn-lg btn-primary btn-block" ng-disabled="productForm.$invalid || (productForm.$error.min || productForm.$error.required)" type="submit" ng-click="addProductInfo(newProduct)">Add Product</button>
		        		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="resetAll(); newProduct=null; showAllProducts()">Cancel</button>
		      		</form>
				</div>
				
			</div>
	
	<div class="container" ng-show="showRegister">
		<form role="form" class="form-horizontal" name="form" action="">
			<div class="form-group">
		 		<label class="control-label">First Name:</label>
		    	<input type="text" class="form-control" ng-model="registration.firstName" ng-model="registration.firstName" name="firstName" placeholder="First Name" required autofocus />
		      	<span ng-show="form.firstName.$dirty && form.firstName.$error.required">Tell us your First name.</span>
 			</div>
 			<div class="form-group">
		 		<label class="control-label">Last Name:</label>
		    	<input type="text" class="form-control" ng-model="registration.lastName" ng-model="registration.lastName" name="lastName" placeholder="Last Name" required />
				<span ng-show="form.lastName.$dirty && form.lastName.$error.required">Tell us your Last name.</span>
 			</div>
 			<div class="form-group">
    			<label class="control-label">E-mail:</label>
    			<input type="email" name="email" class="form-control" ng-model="registration.email" placeholder="E-mail address" required/>
				<span ng-show="form.email.$dirty && form.email.$error.required">Tell us your email</span>
				<span ng-show="form.email.$dirty && form.email.$error.email">Please enter a valid email</span>
  			</div>

			<div class="form-group">
  				<label class="control-label">Password:</label>
  				<input type="password" name="password" class="form-control" ng-model="registration.password" placeholder="Password" required/>
				<span ng-show="form.password.$dirty && form.password.$error.required">Tell us your password</span>
			</div>
			
        	<div class="form-group">
          		<label class="control-label">Repeat password:</label>
          		<input type="password" name="password2" class="form-control" ng-model="registration.password2" placeholder="Repeat password" required/>
				<span ng-show="form.password2.$dirty && form.password2.$error.required">Enter password again</span>
        	</div>
        
        	<div class="form-group">
          		<button type="submit" class="btn btn-primary btn-block btn-small" ng-disabled="form.$invalid || form.$error.required" ng-click="registerUser(registration)">Register</button>
        	</div>
        	<div class="form-group">
          		<button type="submit" class="btn btn-primary btn-block btn-small" ng-click="resetMessages(); showRegister = !showRegister; login = !login">Cancel</button>
        	</div>
		</form>
	</div>
			<div class=container ng-show="messageFlag">
				<p class="text-center text-danger"><em>{{message}}</em></p>
			</div>	

			
			<div class=container ng-show="error">
			<p class="alert alert-center alert-danger"><em>{{errorMessage}}</em></p>
				<p class="text-center alert-danger" ng-show="errorData.message != null"><em>Error Message from Server: {{errorData.message}}</em></p>
			</div>	

			<div class="footer navbar-fixed-bottom">@Copyright WebServicesGroup</div>
	</body>
	
	<!-- Scripts for bootstrap and jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</html>